<header class="row">
  <h1><a href="/">Boris Krone</a> <span>{{ site.title }}</span></h1>
</header>

<nav class="row">
  <ul>
    <li class="about">
      <a href="/">About</a>
    </li>
    {% for page in site.pages %}
      {% if page.title %}
        {% if page.url contains '/page' %}
        {% else %}
  			<li class="{{page.slug}}">
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
  			</li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>