---
published: true
layout: post
title: "America&#39;s Test Kitchen"
date: 2011-06-01 10:00:00
---

section.row.proj-row
  header
    h2 {{page.title}}
    time(datetime="2011") &mdash; 2011
  .left-col
    dl
      dt Tasks
      dd Build public and member sections. Responsive for larger tablets.
      dt Technologies
      dd HTML5, SASS, Ruby on Rails.
  .right-col
    figure
      img(src="/images/atk-home-lg.jpg", alt="Screenshot homepage")
      figcaption Homepage
    figure
      img(src="/images/atk-course-home-lg.png", alt="Screenshot Course Page")
      figcaption Course Page
    figure
      img(src="/images/atk-discussions-lg.png", alt="Screenshot Members Discussion Page")
      figcaption Members Discussion Page

<!--more-->