---
published: true
layout: post
title: "harman/kardon"
date: 2011-11-01 10:00:00
---

section.row.proj-row
  header
    h2 {{page.title}}
    time(datetime="2011") &mdash; Isobar, 2011
  .left-col
    dl
      dt Tasks
      dd Front end development, initial page setup, numerous pages builds, team lead.
      dt Technologies
      dd HTML5, CSS, jQuery.
  .right-col
    figure
      img(src="/images/hk-1-explore-topic-lg.jpg", alt="Screenshot Explore Page")
      figcaption Explore Page.
    figure
      img(src="/images/hk-2-prod-page-lg.jpg", alt="Screenshot product details")
      figcaption Product detail page
    .row
      .left-col
        figure
          img(src="/images/hk-sm-1.png", class="img-shadow", alt="Screenshot custom dropdown")
          figcaption Custom dropdown for filtering
      .right-col
        figure
          img(src="/images/hk-sm-2.png", class="img-shadow", alt="Screenshot product comparison")
          figcaption Product comparison

<!--more-->