---
published: true
layout: post
title: "Analog Devices"
date: 2012-06-01 10:00:00
---

section.row.proj-row
  header
    h2 {{page.title}}
    time(datetime="2012") &mdash; Ayantek, 2012-2015
  .left-col
    dl
      dt Tasks
      dd Continiously ongoing projects of varying sizes: Site maintenance, site improvements, applications, microsites for internal and public facing content.
      dt Technologies/Keywords
      dd Information architecture, offshore team management, front-end coding, UX, wireframes, QA, cross browser testing, supporting CMS implementation.
  .right-col
    figure
      img(src="/images/adi-innovation-portal.jpg", alt="Screenshot Innovation Portal")
      figcaption Innovation Portal
    figure
      img(src="/images/adi-product-page.jpg", alt="Screenshot product page")
      figcaption Product page revamp
    figure
      img(src="/images/adi-scd.png", alt="Screenshot Signal Chain Designer")
      figcaption Signal Chain Designer
    figure
      img(src="/images/adi-perf-mgmt.png", alt="Screenshot performance management wireframes")
      figcaption Performance Management wireframes
<!--more-->