---
published: true
layout: post
title: "XiGet Ticket Exchange"
date: 2013-11-01 10:00:00
---

section.row.proj-row
  header
    h2 {{page.title}}
    time(datetime="2011") &mdash; Ayantek, 2013-14
  .left-col
    dl
      dt Tasks
      dd The xxxxx
      dt Technologies/Keywords
      dd UX, xxxxx.
  .right-col
    figure
      img(src="/images/xiget-flow-find.png", alt="Screenshot xxxx")
      figcaption User flow
    figure
      img(src="/images/xiget-sitemap.png", alt="Screenshot xxxxx")
      figcaption Sitemap

<!--more-->