---
published: true
layout: post
title: "Haemonetics Plasma Portal"
date: 2013-10-01 10:00:00
---

section.row.proj-row
  header
    h2 {{page.title}}
    time(datetime="2011") &mdash; Ayantek, 2013
  .left-col
    dl
      dt Tasks
      dd The Plasma Portal was created as a platform for clients, service personnel and nurses to have easy accesss to documentation, acknowledge product changes, and conduct training courses. My role was to define and prototype the user interface. The main challenge was to structure the complex requirements for user roles and access permissions.
      dt Technologies/Keywords
      dd UX, User Interface, Interactive wireframes, Justinmind Prototyper.
  .right-col
    figure
      img(src="/images/hae-1-portal.png", alt="Screenshot portal page")
      figcaption Client facing portal page
    figure
      img(src="/images/hae-2-admin.png", alt="Screenshot admin page")
      figcaption Part of admin interface

<!--more-->