---
published: true
layout: post
title: "XiGet Ticket Exchange"
date: 2013-11-01 10:00:00
---

section.row.proj-row
  header
    h2 {{page.title}}
    time(datetime="2013") &mdash; Ayantek, 2013-14
  .left-col
    dl
      dt Tasks
      dd XiGet was a startup with the goal of creating a community to easily exchange tickets and gift cards. My task was to convert brainstormed ideas into an actionalble structure.
      dt Technologies/Keywords
      dd UX, User flows, sitemap, Visio
  .right-col
    figure
      img(src="/images/xiget-flow-find.png", alt="User flow find ticket or gift card")
      figcaption User flow
    figure
      img(src="/images/xiget-sitemap.png", alt="Sitemap")
      figcaption Sitemap

<!--more-->