---
published: true
layout: post
title: "Ayantek.com"
date: 2014-06-01 10:00:00
---

section.row.proj-row
  header
    h2 {{page.title}}
    time(datetime="2014") &mdash; Ayantek, 2014-15
  .left-col
    dl
      dt Tasks
      dd Define technical requirements, choose theme, functionality and content builds, site performance, SEO, tech. team lead.
      dt Technologies
      dd WordPress, HTML5, LESS, Bootstrap, jQuery, PHP, Grunt, Microformats.
  .right-col
    figure
      img(src="/images/ayantek-1-home-lg.jpg", alt="Ayantek.com homepage")
      figcaption Homepage, large screen
    figure
      img(src="/images/ayantek-2-blog-lg.jpg", alt="Ayantek.com blog")
      figcaption Blog, large screen
    .row
      .left-col
        figure
          img(src="/images/ayantek-3-nav-phone-sm.jpg", alt="Mobile nav open", class="no-border")
          figcaption.offset Mobile nav
      .right-col
        figure
          img(src="/images/ayantek-4-blog-phone-sm.jpg", alt="Blog post", class="no-border")
          figcaption.offset Blog, small screen

<!--more-->