---
published: true
layout: post
title: "Ayantek.com"
date: 2014-06-01 10:00:00
---

section.row.proj-row
  header
    h2 {{page.title}}
    time(datetime="2014") &mdash; Ayantek, 2014-15
  .left-col
    dl
      dt Tasks
      dd Define technical requirements, 
      dt Technologies
      dd HTML5, LESS, Bootstrap, jQuery
  .right-col
    figure.text--center
      img.media--fluid(src="/images/ayantek-1-home-lg.jpg", alt="Ayantek.com homepage")
      figcaption Homepage large screen.
    figure.text--center
      img.media--fluid(src="/images/ayantek-2-blog-lg.jpg", alt="Image alt")
      figcaption Explore Page.


<!--more-->