---
published: true
layout: post
title: "The RAO Institute"
date: 2014-05-01 10:00:00
---

section.row.proj-row
  header
    h2 {{page.title}}
    time(datetime="2014") &mdash; Ayantek, 2014-15
  .left-col
    dl
      dt Tasks
      dd v1 - Implementation with Bluetrain CMS: Familiarize with new platform, create templates, data models and pages, team lead.
      dd v2 - Transition to WordPress: Oversee process, site maintenance, SEO.
      dd v1 + v2: Create Marketing Automation processes in Ontraport for communication logic and payment processing.
      dt Technologies
      dd HTML5, LESS, Bluetrain CMS, Wordpress, Bootstrap, jQuery, Grunt, SEO, Ontraport Marketing Automation.
  .right-col
    figure
      img(src="/images/tri-1-home-lg.jpg", alt="Screenshot homepage")
      figcaption Homepage
    .row
      .left-col
        figure
          img(src="/images/tri-2-home-phone.png", alt="Screenshot homepage on mobile", class="no-border")
          figcaption.offset Homepage mobile view
      .right-col
        figure
          img(src="/images/tri-3-media-phone.png", alt="Screenshot internal page", class="no-border")
          figcaption.offset Media mentions mobile view

<!--more-->