---
published: true
layout: post
title: "harman/kardon"
date: 2011-11-01 10:00:00
---

section.row.proj-row
  header
    h2 {{page.title}}
    time(datetime="2011") &mdash; Isobar, 2011
  .left-col
    dl
      dt Tasks
      dd Front end development. Initial page setup, numerous pages builds, team lead
      dt Technologies
      dd HTML5, CSS, jQuery
  .right-col
    figure.text--center
      img.media--fluid(src="/images/hk-1-explore-topic-lg.jpg", alt="Image alt")
      figcaption Explore Page.
    figure.text--center
      img.media--fluid(src="/images/hk-2-prod-page-lg.jpg", alt="Image alt")
      figcaption Explore Page.
    .row
      .left-col
        figure
          img.media--fluid(src="/images/hk-sm-1.png", alt="Image alt", class="img-shadow")
          figcaption Explore Page.
      .right-col
        figure
          img.media--fluid(src="/images/hk-sm-2.png", alt="Image alt", class="img-shadow")
          figcaption Explore Page.

<!--more-->