---
layout: default
title: Portfolio
slug: portfolio
---
<main role="main">

  {% for post in paginator.posts %}
    {{ post.excerpt }}
  {% endfor %}




  {% if paginator.total_pages > 1 %}
  <nav class="pagination">
    <ul>
      {% if paginator.previous_page %}
        <li class="pn"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" rel="prev icon-chevron-left" class="icon-chevron-left"><span class="screenreader">Previous page</span> </a></li>
      {% else %}
        <li class="pn inactive"><s class="icon-chevron-left"><span class="screenreader">No previous page</span>&laquo;</s></li>
      {% endif %}
      
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="active"><em>{{ page }}</em></li>
        {% elsif page == 1 %}
          <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
        {% else %}
          <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <li class="pn"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" rel="next" class="icon-chevron-right"><span class="screenreader">Next page</span> </a></li>
      {% else %}
        <li class="pn inactive"><s class="icon-chevron-right"><span class="screenreader">No next page</span> </s></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}



</main>



